{% extends 'base.html' %}

{% block main %}
{% load static %}
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'seller:dashboard' %}">Businesses</a></li>
      <li class="breadcrumb-item"><a href="{% url 'seller:dashboard' pk=business.id %}">{{business.name}}</a></li>
      <li class="breadcrumb-item active">inventory</li>
    </ol>
  </nav>
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">{{business}} - Inventory</h3>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addInventoryModal">Add</button>
      <div class="modal fade" tabindex="-1" id="addInventoryModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Add Inventory</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              {{inventoryCreateForm.errors}}
              <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="id_name">Name</label>
                  {{inventoryCreateForm.name}}
                </div>
                <div class="mb-3">
                  <label for="id_description">Description</label>
                  {{inventoryCreateForm.description}}
                </div>
                <div class="mb-3">
                  <button type="submit" class="btn btn-primary">Add Inventory</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">NAME</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            {% for item in business.inventory.all %}
            <tr  scope="row">
              <td>{{item.id}}</td>
              <td>{{item.name}}</td>
              <td>
                <div class="btn-group">
                  <a href="" class="btn btn-primary">View</a>
                  <a href="" class="btn btn-danger">Delete</a>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock main %}